<!DOCTYPE html>
<!-- <html><head></head><body></body></html> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- <html><head></head><body></body></html> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="../Content/js/jquery-1.8.0.min.js"></script>
    <title>扫码验证</title>
    <script>
        function aa() {
            window.location.href = '';
        }
    </script>
<style type="text/css">

body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td ,iframe{margin:0;padding:0;}
</style>
</head>
<body style="background-color:#e9efef;">
 <!-- <html><head></head><body></body></html> -->   
   <style>* {
        padding: 0;
        margin: 0;
    }
  body{background-color:#ffffff !important;}
  p{padding-bottom:0.7vh;}
  img{display:block;}</style>
<div>
    <img src="/Content/ueditor/net/upload/image/20210301/6375020522316206934376860.png" title="logo1.png" alt="logo1.png" width="100%"/>
</div>
<div style="text-align: center; width: 100%; padding: 2vh 0px;">
    <img style="margin:0 auto;" src="/Content/ueditor/net/upload/image/20210301/6375020504329369882096352.gif" title="OK.gif" alt="OK.gif" width="45%"/>
</div>
<div style="margin: 0px 6vw; padding: 2vh 2vw; border-top: 1px solid rgb(3, 3, 3); border-bottom: 1px solid rgb(3, 3, 3);">
    <p>
        Product name：{{product_name}}
    </p>
    <p>
        Manufacturer：{{manufacturer}}
    </p>
    <p>
        Query times：<span style="color:#29aae1;">{{counter}}th time</span>
    </p>
    <p>
      Security password：<span style="color:red;">{{code}}</span>
    </p>
</div>
<p style="text-align: center; padding: 2vh 0px;">
    Please reconfirmation of hologram pattern.
</p>
</body>
</html>